.css-126euq6-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #D2E3C8 !important;
    color: #3A4D39 !important;
}

.css-j204z7-MuiFormControlLabel-root,
.css-y8dwi2-MuiSwitch-root {
    margin: 0 !important;
}
#table1 {
    border-collapse: collapse;
}

#table1 td,
#table1 th {
    border: 1px solid #e6e6e6;
    padding: 10px;
}